<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  
<div> 
<md-tab-group>



  <!-- first tab !-->


  <md-tab label="hard_fact">

<swiper [config]="config">


<div class="swiper-wrapper">
  <ng-container *ngFor="let navItem of questions ; let i = index">
  <div class="swiper-slide" *ngIf=" navItem.category == 'hard_fact' " > 
 
  <div class="well well-sm">{{navItem.question}}</div>

<div>
   <md-radio-group class="example-radio-group">
   <md-radio-button class="example-radio-button" *ngFor="let option of navItem.question_type.options " [value]="option">
    
   
    {{option}}
   
   </md-radio-button>
   </md-radio-group>
</div>

  </div>  
  </ng-container>  

</div>
<br>
<br>
<div class="swiper-pagination"></div>
            <!-- Add Arrows -->
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
 </swiper>
 
  </md-tab>



<!-- second tab !-->

  <md-tab label="lifestyle">


  <ng-container *ngFor="let navItem of questions">
  <div *ngIf=" navItem.category == 'lifestyle' "> 
 
  <div class="well well-sm">{{navItem.question}}</div>

  </div>

  </ng-container>  
  <button type="button" class="btn btn-primary">Previous</button>
   <button type="button" class="btn btn-primary">Next</button>

  </md-tab>















<!-- thired tab !-->





  <md-tab label="introversion">

  <ng-container *ngFor="let navItem of questions">
  <div *ngIf=" navItem.category == 'introversion' "> 
 
  <div class="well well-sm">{{navItem.question}}</div>

  </div>

  </ng-container>  
   
   <button type="button" class="btn btn-primary">Previous</button>
   <button type="button" class="btn btn-primary">Next</button>

  </md-tab>







<!-- Fouth tab !-->





  <md-tab label="passion">
    
    
  <ng-container *ngFor="let navItem of questions">
  <div *ngIf=" navItem.category == 'passion' "> 
 
  <div class="well well-sm">{{navItem.question}}</div>

  </div>

  </ng-container>  
    
   <button type="button" class="btn btn-primary">Previous</button>
   <button type="button" class="btn btn-primary">Next</button>
  
  </md-tab>
</md-tab-group>


</div>


<div>
<button (click)="goBack()" class="btn btn-primary">Back</button>
</div>  
